<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.introRegister" name="IntroRegister" schema="schema/org.dawnsci.introRegister.exsd"/>
   <extension
         point="org.eclipse.ui.intro">
      <!--<intro
            class="uk.ac.diamond.scisoft.intro.IntroPart"
            icon="icons/welcome16.gif"
            id="uk.ac.diamond.scisoft.intro">
      </intro>-->
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Temp-16x16-icon.png"
            id="org.dawnsci.intro">
      </intro>
      <introProductBinding
            introId="org.dawnsci.intro"
            productId="org.dawnsci.product.plugin.DAWN">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Temp-16x16-icon.png"
            id="uk.ac.diamond.dawn.intro">
      </intro>
      <introProductBinding
            introId="uk.ac.diamond.dawn.intro"
            productId="uk.ac.diamond.dawn.product">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="uk.ac.diamond.dawn.base.intro">
      </intro>
      <introProductBinding
            introId="uk.ac.diamond.dawn.base.intro"
            productId="uk.ac.diamond.dawn.base.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.dawnsci.intro.configId"
            introId="org.dawnsci.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="uk.ac.diamond.dawn.intro.introConfigId"
            introId="uk.ac.diamond.dawn.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="uk.ac.diamond.dawn.base.intro.introConfigId"
            introId="uk.ac.diamond.dawn.base.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.intro.actions.OpenWelcomePageAction"
            id="org.dawnsci.intro.show.welcome"
            name="Show welcome screen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.dawnsci.intro.show.welcome"
               label="Show Welcome Screen">
            <command
                  commandId="org.dawnsci.intro.show.welcome"
                  icon="icons/nav_home.gif"
                  label="Home"
                  tooltip="Show Welcome Screen">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            id="org.dawnsci.intro.cheatsheet"
            class="org.dawnsci.intro.CheatSheetStandbyContent"
            pluginId="org.dawnsci.intro"/>
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/firststeps.xml">
      </configExtension>
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/webresources.xml">
      </configExtension>
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/whatsnew.xml">
      </configExtension>
   </extension>

</plugin>
