<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.introRegister" name="IntroRegister" schema="schema/org.dawnsci.introRegister.exsd"/>
   <extension
         point="org.eclipse.ui.intro">
      <!--<intro
            class="uk.ac.diamond.scisoft.intro.IntroPart"
            icon="icons/welcome16.gif"
            id="uk.ac.diamond.scisoft.intro">
      </intro>-->
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Temp-16x16-icon.png"
            id="org.dawnsci.intro">
      </intro>
      <introProductBinding
            introId="org.dawnsci.intro"
            productId="org.dawnsci.product.plugin.DAWN">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Temp-16x16-icon.png"
            id="uk.ac.diamond.dawn.intro">
      </intro>
      <introProductBinding
            introId="uk.ac.diamond.dawn.intro"
            productId="uk.ac.diamond.dawn.product">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="uk.ac.diamond.dawn.base.intro">
      </intro>
      <introProductBinding
            introId="uk.ac.diamond.dawn.base.intro"
            productId="uk.ac.diamond.dawn.base.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.dawnsci.intro.configId"
            introId="org.dawnsci.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="uk.ac.diamond.dawn.intro.introConfigId"
            introId="uk.ac.diamond.dawn.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="uk.ac.diamond.dawn.base.intro.introConfigId"
            introId="uk.ac.diamond.dawn.base.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.intro.actions.OpenWelcomePageAction"
            id="org.dawnsci.intro.show.welcome"
            name="Show welcome screen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.dawnsci.intro.show.welcome"
               label="Show Welcome Screen">
            <command
                  commandId="org.dawnsci.intro.show.welcome"
                  icon="icons/nav_home.gif"
                  label="Home"
                  tooltip="Show Welcome Screen">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <theme
            default="true"
            id="org.dawnsci.intro.dawnTheme"
            name="Dawn theme"
            path="$nl$/themes/dawn"
            previewImage="$nl$/themes/dawn/preview.png"
            scalable="true">
         <property
               name="launchbarBackground"
               value="#000000">
         </property>
         <property
               name="capitalizeTitles"
               value="true">
         </property>
         <property
               name="launchbarOverviewIcon"
               value="$theme$graphics/launchbar/overview.gif">
         </property>
         <property
               name="launchbarFirststepsIcon"
               value="$theme$graphics/launchbar/firststeps16.png">
         </property>
         <property
               name="launchbarTutorialsIcon"
               value="$theme$graphics/launchbar/tutorials.gif">
         </property>
         <property
               name="launchbarPerspectivesIcon"
               value="$theme$graphics/launchbar/perspectives48.gif">
         </property>
         <property
               name="launchbarSamplesIcon"
               value="$theme$graphics/launchbar/samples.gif">
         </property>
         <property
               name="launchbarWhatsnewIcon"
               value="$theme$graphics/launchbar/whatsnew.gif">
         </property>
         <property
               name="launchbarMigrateIcon"
               value="$theme$graphics/launchbar/migrate16.png">
         </property>
         <property
               name="launchbarWebresourcesIcon"
               value="$theme$graphics/launchbar/webresources16.png">
         </property>
         <property
               name="highContrast-overview"
               value="$theme$graphics/icons/etool/overview72.gif">
         </property>
         <property
               name="highContrast-firststeps"
               value="$theme$graphics/icons/etool/firsteps72.gif">
         </property>
         <property
               name="highContrast-tutorials"
               value="$theme$graphics/icons/etool/tutorials72.gif">
         </property>
         <property
               name="highContrast-perspectives"
               value="$theme$graphics/icons/etool/perspectives72.gif">
         </property>
         <property
               name="highContrast-samples"
               value="$theme$graphics/icons/etool/samples72.gif">
         </property>
         <property
               name="highContrast-whatsnew"
               value="$theme$graphics/icons/etool/whatsnew72.gif">
         </property>
         <property
               name="highContrast-webresources"
               value="$theme$graphics/icons/etool/webrsrc72.gif">
         </property>
         <property
               name="highContrast-migrate"
               value="$theme$graphics/icons/etool/migrate72.gif">
         </property>
         <property
               name="highContrast-workbench"
               value="$theme$graphics/icons/etool/wb48.gif">
         </property>
         <property
               name="highContrastNav-overview"
               value="$theme$graphics/icons/etool/overview48.gif">
         </property>
         <property
               name="highContrastNav-firststeps"
               value="$theme$graphics/icons/etool/firsteps48.gif">
         </property>
         <property
               name="highContrastNav-tutorials"
               value="$theme$graphics/icons/etool/tutorials48.gif">
         </property>
         <property
               name="highContrastNav-perspectives"
               value="$theme$graphics/icons/etool/perspectives48.gif">
         </property>
         <property
               name="highContrastNav-samples"
               value="$theme$graphics/icons/etool/samples48.gif">
         </property>
         <property
               name="highContrastNav-whatsnew"
               value="$theme$graphics/icons/etool/whatsnew48.gif">
         </property>
         <property
               name="highContrastNav-webresources"
               value="$theme$graphics/icons/etool/webrsrc48.gif">
         </property>
         <property
               name="highContrastNav-migrate"
               value="$theme$graphics/icons/etool/migrate48.gif">
         </property>
         <property
               name="highContrastNav-workbench"
               value="$theme$graphics/icons/etool/wb48.gif">
         </property>
      </theme>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introContribution.xml">
      </configExtension>
   </extension>

</plugin>
