<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="DAWN"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="dViewer">
         <property
               name="appName"
               value="dViewer">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="10,10,1204,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,513,1224,15">
         </property>
         <property
               name="windowImages"
               value="icons/dViewer-16x16-icon.png,icons/dViewer-48x48-icon.png">
         </property>
         <property
               name="aboutImage"
               value="icons/dViewer-210x238-about.png">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/dViewer-3Col-Splash.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to dViewer">
         </property>
         <property
               name="aboutText"
               value="dViewer (Diffraction Viewer based on Data Analysis Workbench [DAWN])&#x0A;Copyright, 2010 - 2016, DAWN Collaboration&#x0A;&#x0A;Version 2.1.0">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="org.dawnsci.product.plugin.about.ReleaseNotesPage"
            id="org.dawnsci.product.plugin.about.releasenotespage"
            name="Release Notes">
      </page>
   </extension>
</plugin>
